<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ente.photos">
    <uses-permission android:name="com.unplugged.account.staging.ACCOUNT_PROVIDER" />
    <uses-permission android:name="com.unplugged.account.staging.THIRD_PARTY_ACTIVITY" />
    <application android:label="Stage Cloud Photos" />
</manifest>
